.ticker_History_table{
    margin-top: 12px;
}
.ticker_History_table .MuiTableCell-root{
    line-height: 1;
    border-bottom: none;
    letter-spacing: 0;
}
.ticker_History_table  .MuiButtonBase-root{
    display:flex;

}
.ticker_History_table  .MuiButtonBase-root:hover{
    border-bottom: none;
    /* color: #273640; */
    color: white;
    
}
.ticker_History_table .MuiTableSortLabel-root .MuiTableSortLabel-icon{
    color: var(--white);
}
.ticker_History_table .MuiTableSortLabel-root.MuiTableSortLabel-active{
    color: var(--white);
}
.ticker_History_table .MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon{
    color: var(--white);
}

/* .MuiTableContainer-root::-webkit-scrollbar {
    width: 1em;
  }
   
  .MuiTableContainer-root::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .MuiTableContainer-root::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
  .MuiTableContainer-root::-webkit-scrollbar {
    width: 10px;
  }
  
  .MuiTableContainer-root::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .MuiTableContainer-root::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .MuiTableContainer-root::-webkit-scrollbar-thumb:hover {
    background: #555;
  } */