/* Global Css Declartion */
:root {
  --main-bg-color: #1b262d;
  --bg-color:#273640;
  --main-green-color:#01a781;
  --main-red-color:#f05359;
  --green-color:#03ca9b;
  --grey-color:#969b9e;
  --white:#fff;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
